.entradas {
    width: 150px;
    margin-right: 10px;
    margin-top: 20px;
    display: inline-table;
    font-size: 0.7em;
}


.emergente {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);  
}

.contenido-emergente {
    background-color: skyblue;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    width: 30%;
    color: white;
    height: 160px; 
}

#btn-aceptar {
    color: #aaaaaa;
    font-weight: bold;
    font-size: .8em;
    float: right;
}

#btn-aceptar:hover,
#btn-aceptar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;  
}





